{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %} {% trans "Change Password" %}{% endblock head_title %}

{% block content %}
    {% if token_fail %}
        {% trans "Bad Token" %}
    {% else %}
        <h1>{% trans "Change Password" %}</h1>
    {% endif %}

    {% if token_fail %} 
        {% url 'account_reset_password' as passwd_reset_url %}
        {% blocktrans %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endblocktrans %}
    {% else%}
        {% if form %}
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
        {% else %}
            {% trans 'Your Password is now changed.' %}
        {% endif %}
    {% endif %}
{% endblock content %}
